@import 'src/style/_variables.scss';

.students-group {
  margin-bottom: 20px;
  .group-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .group_btn {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    //TODO GTB-知识点: 颜色值应使用_variables里面的常量，方便统一修改
    background-color: #e85559;
    color: #fff;
  }
}
